@model PasswordManager.Web.Models.Password.PasswordEditModel

@{
    ViewBag.Title = "Password Edit";
    Layout = "_Layout";
}

<h2>Password Edit</h2>
<div class="row">
   <div class="col-md-8">
      <section id="editForm">
         @using (Html.BeginForm("Edit", "Password", null, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
         {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.Id);
            <div class="form-group">
               @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                  @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
               </div>
            </div>
            <div class="form-group">
               @Html.LabelFor(m => m.URL, new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                  @Html.TextBoxFor(m => m.URL, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.URL, "", new { @class = "text-danger" })
               </div>
            </div>
            <div class="form-group">
               @Html.LabelFor(m => m.CategoryId, "Category", new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                  @Html.DropDownList("CategoryId", new SelectList(ViewBag.Categories, "Value", "Text"), null, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
               </div>
            </div>
            <div class="form-group">
               @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                  @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
               </div>
            </div>
            <div class="form-group">
               @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                  @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
               </div>
               <div>
                  <input type="button" id="generatePassword" value="Generate Password" class="btn" />
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Update" class="btn btn-dark" />
               </div>
            </div>
            <p>
               @Html.ActionLink("Back to List", "Index")
            </p>
         }
      </section>
   </div>
</div>